body {
    background-color: #F0F0F0;
    font-family: Arial;
}

.column{
    height: 294px;
    width: 732px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    background-image: url(../image/background.png);
    display: flex;
}

.column_avatar {
    width: 200px;
    display: inline-block;
}

.column_personal-data {
    width: 532px;
    display: inline-block;
}

.input-field {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    background-color: transparent;
    width:492px;
    margin-top: 35px;
    padding-bottom: 5px;
    font-size: 17px;
    color: #666666;
    text-transform: uppercase;
}

.column_div-for-avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden
}

.colum_print {
    margin-left: -194px;
    position: relative;
}

.colum_img-print {
    position: absolute;
    bottom: 10px;
}

.column--2{
    flex-direction: column;
    justify-content: center;
}

.column_header{
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    vertical-align: middle;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
}

.column_line{
    display: flex;
    height: 70px;
    margin: auto;
    width: 100%;
    font-size: 17px;
    color: #666666;
}

.column_cell{
    display: flex;
    align-items: center;
    height: 100%;
}

.skill{
    width: 183px;
    padding-left: 20px;
}

.skill_checkbox {
    display: none;
}

.skill_label-for-checkbox,
.skill_label-for-checkbox::before{
    display: flex;
    justify-content: center;
}

.skill_checkbox:not(checked) + .skill_label-for-checkbox::before{
    content: "";
    width: 20px;
    height: 20px;
    background: #EEEEEE;
    border-radius: 3px;
    margin-right: 10px;
}

.skill_checkbox:checked + .skill_label-for-checkbox::before{
    background: #0093D7;
    content: "✓";
    text-align: center;
    color: white;
}

.column_indicator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
}

.indicator{
    position: relative;
    --arrow-width: 9px;
    --arrow-height: 70px;
    --rotate: -90deg;
}

.indicator_face{
    width: 294px;
    height: 147px;
    overflow: hidden;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #FFF;
}

.indicator_face::after{
    width: 60%;
    height: 60%;
    content: "";
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background: #FFF;
    z-index: 0;
}

.indicator_sector{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform-origin: left bottom;
}

.indicator_top-sector{
    transform: rotate(-30deg) skewY(150deg);
    background: #A3CD3B;
    bottom: 5px;
}

.indicator_left-sector{
    transform: rotate(30deg) skewY(150deg);
    background: #FFC815;
    bottom: -5px;
}

.indicator_right-sector{
    transform: rotate(-90deg) skewY(150deg);
    background: #0093D7;
    bottom: -5px;
}

.indicator_arrow{
    width: 0px;
    height: 0px;
    position: absolute;
    left: calc(50% - var(--arrow-width));
    bottom: 0px;
    border: var(--arrow-width) solid transparent;
    border-bottom: var(--arrow-height) solid #3E3D40;

    transform: rotate(var(--rotate));
    transform-origin: var(--arrow-width) calc(var(--arrow-height) + var(--arrow-width)) 0px;
    transition-duration: 1s;
    transition-property: transform;
}

.indicator_arrow::after{
    width: 0px;
    height: 0px;
    content: "";
    position: absolute;
    left: calc(50% - var(--arrow-width));
    bottom: calc((var(--arrow-height) + var(--arrow-width)) * (-1));
    border: calc(var(--arrow-width)) solid #3E3D40;
    border-radius: 50%;
}
