body {
    background-color: #F0F0F0;
}

.column{
    height: 294px;
    width: 732px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    background-image: url(../image/background.png);
    display: flex;
}

.column_avatar {
    width: 200px;
    display: inline-block;
}

.column_personal-data {
    width: 532px;
    display: inline-block;
}
